<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="10 seconds">

    <springProperty scope="context" name="logFile" source="logging.file"/>
    <springProperty scope="context" name="logFolder" source="logging.folder"/>
    <property name="logPath" value='${logFolder}/${logFile}'/>
    <property name="logName" value='${basedir}'/>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.pulsar.common.util.SecurityUtility" level="OFF"/>
    <logger name="org.apache.pulsar.client.impl.ConsumerImpl" level="OFF"/>
    <logger name="org.apache.pulsar.client.impl.ConsumerStatsRecorderImpl" level="OFF"/>
    <logger name="org.apache.pulsar.client.impl.ConnectionPool" level="OFF"/>
    <logger name="org.apache.pulsar.client.impl.ClientCnx" level="OFF"/>
    <logger name="ch.qos.logback.core.joran.spi.Interpreter" level="OFF"/>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>
